{% extends 'base.html' %}
{% block content %}
  <p>Are you sure you want to delete this manufacturer: {{ manufacturer }}?</p>
  <p>You also will delete all cars related to this manufacturer:</p>
  <ul>
    {% for car in manufacturer.car_set.all %}
      <li>{{ car.model }}</li>
      {% empty %}
      <li>No cars found</li>
    {% endfor %}
  </ul>
  <form method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-danger">
  </form>
  <br>
  <a href="{% url 'taxi:manufacturer-list' %}?page={{ request.GET.page|default:1 }}" class="btn btn-primary">
    Cancel
  </a>
{% endblock %}
